################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net7.0/Albedo-Surface-Ops.pdb
/obj/Debug/net7.0/Albedo-Surface-Ops.dll
/bin/Debug/net7.0/Albedo-Surface-Ops.pdb
/bin/Debug/net7.0/Albedo-Surface-Ops.dll
*.vsidx
/.vs/Albedo-Surface-Ops/FileContentIndex/7ecd1c1c-da4c-46e6-8b5d-6f8a248b768d.vsidx
/.vs/Albedo-Surface-Ops/FileContentIndex/320ea54b-2ff5-427f-bf96-6b140da9cd81.vsidx
/.vs/Albedo-Surface-Ops/v17/.suo
/.vs/Albedo-Surface-Ops/FileContentIndex/7318ccb8-956b-4192-b67a-fc5a36be9204.vsidx
/.vs/Albedo-Surface-Ops/DesignTimeBuild/.dtbcache.v2
/.vs/Albedo-Surface-Ops/FileContentIndex/ff574733-e268-41be-9094-f29c1490efd9.vsidx
/obj/Debug/net7.0/ref/Albedo-Surface-Ops.dll
/obj/Debug/net7.0/refint/Albedo-Surface-Ops.dll
/obj/Debug/net7.0/Albedo-Surface-Ops.csproj.CoreCompileInputs.cache
